body {
font-family: helvetica; 
text-align: center;
color: aqua;
background-color: black;
padding: 0;
margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid darkolivegreen;
}

nav ul {
   display: flex;
   list-style: none;
   align-items: center;
}

ul li{
   margin-right: 10px;

}
ul li a {
color: aqua;
}

h1 {
font-size: 32px;

}
img {
border: 1px solid darkolivegreen;

}
footer {
padding: 20px;
border-top: aquamarine;
margin-top: 20px;
font-size: 20px;

}